@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.greyVote {
  color: gray;
  cursor: pointer;
}

.greenVote {
  color: green;
  font-weight: bold;
  cursor: pointer;
}

.redVote {
  color: red;
  font-weight: bold;
  cursor: pointer;
}