@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
  --ll-lightest-color: #FCECDD;
  --ll-light-color: #FFC288;
  --ll-medium-color: #FEA82F;
  --ll-dark-color: #FF6701;
}

.list-background-color {
  background-color: var(--ll-lightest-color)
}

.error-box {
  background-color: var(--ll-light-color);
  border: 1px black solid;
  padding: 0.5rem;
}

.bold {
  font-weight: bold;
}

.review-body {
  font-size: smaller;
  margin-top: 0.25rem;
}

.review-tile {
  border: 1px solid black;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  font-size: larger;
  background-color: white;
  border-radius: 0.5rem;
}

.border-right {
  border-right: 2px solid black;

}

.clear-button {
  margin-left: 1rem;
}

.show-page {
  background-color: var(--ll-lightest-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.show-header {
  border: 1px black solid;
  margin: 0.5rem;
  background-color: white;
  border-radius: .75rem;
  padding-top: 1rem;
}
.review-tile p {
  margin: 0;
}

.form-container {
  margin: 0.5rem;
}

.sandwich-tile {
  border-radius: 1.5rem;
  height: max(8rem, auto);
  text-align: center;
  background-color: white;
}

.review-main-section {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.review-bottom-bar {
  padding-top: 0.5rem;
}

.date {
  font-size: smaller;
}

.profile-photo {
  max-height: 15rem;
  border: 1px rgb(117, 117, 117) solid
}

.no-profile-photo {
  height: 15rem;
  padding: 1rem;
  background-color: lightgrey;
  display: inline-block;
  line-height: 15rem;
  color: rgb(138, 138, 138)
}

.reviews-header {
  text-indent: 0.5rem;
  font-weight: bold;
}

.select-file-box {
  width: 15rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  cursor: pointer;
  padding: 0.15rem;
  background-color: var(--ll-dark-color);
  color: white;
  font-weight: bold;
}

.show-file-box {
  width: 15rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  cursor: pointer;
  padding: 0.15rem;
  font-weight: bold;
  border: 1px black solid;
}

.fa-thumbs-up, .fa-thumbs-down {
  cursor: pointer;
}

.top-bar-background {
  background-color: var(--ll-lightest-color);
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-bottom: 3px;
}

.dropdown-content-hidden {
  @extend .dropdown-content;
  display: none;
}

.drop-down-item {
  color: black;
  padding-top: 5px;
  padding-left: 5px;
  display: block;
  cursor: pointer;
  margin: 0;
}

.dropdown-content p:hover {
  background-color: lightgray;
}

.sandwich-list-pic {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.sandwich-show-pic {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.no-sandwich-photo {
  font-size: smaller;
  color: rgb(138, 138, 138)
}